<section id="splash_screen">
    <h1>BudgetTracker</h1>
    <div class="actions">
        <%= link_to "LOG IN", new_user_session_path %>
        <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
</section>
